body {
    font-family: "Archivo", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #4d5b65;
  }
  
  h1 {
    font-family: "Archivo", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin:15px;
  }
  
  h2 {
    font-family: "Archivo", sans-serif;
    font-size: 45px;
    color: black;
    margin:15px;
  }
  
  h3 {
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    color: black;
    margin:15px;
  }
  
  h4 {
    font-family: "Archivo", sans-serif;
    font-size: 36px;
    color: black;
    margin:15px;
  }
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding:10px;
  }

  .bodyText {
    padding-left:150px;
    padding-right:150px;
  }
  
  .gradient span {
    background: linear-gradient(
      0deg,
      rgba(255, 0, 255, 0) 0%,
      rgba(255, 0, 255, 0) 16%,
      rgba(100, 104, 216, 1) 16%,
      rgba(100, 104, 216, 1) 41%,
      rgba(255, 0, 255, 0) 41%
    );
  }
  
  .padding span {
    padding: 0 0.5em 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #06a893;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .topnav a {
    color: black;
    padding: 5px;
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #eaeff6;
    color: black;
  }
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .logo {
    width: 75px;
  }
  
  .tabs {
    padding: 5px;
    padding-right: 50px;
    text-decoration: none;
  }
  
  .tabs a,
  h1 {
    color: #000000;
    text-decoration: none;
  }
  
  .tabs:visited {
    color: black;
  }

  a:hover {
    color:#06a893;
    text-decoration: none;
    font-weight: bold;
  }
  
  #home {
    display:none;
  }
  
  #about:hover,
  #work:hover,
  #contact:hover {
    background: linear-gradient(
      0deg,
      rgba(255, 0, 255, 0) 0%,
      rgba(255, 0, 255, 0) 16%,
      rgba(234, 239, 246, 1) 16%,
      rgba(234, 239, 246, 1) 41%,
      rgba(255, 0, 255, 0) 41%
    );
  }

  .btn-primary {
    background-color: #2298ff;
    font-weight: bold;
    font-size: 16px;
    height: 40px;
    width: 150px;
    top:50%;
    bottom:50%;
    border: none;

  }

  .btn-primary:hover {
    color: white;
    background-position: 100% 0;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(
      to right,
      #04685b,
      #299887,
      #3eb3a0,
      #5eddc6
    );
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
  }

  .jumbotron {
  background-image: url(../images/grantsgovjumbotron.png);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  height:350px;
  }


  #aboutgrants {
    width:50%;
    padding:10px;
    margin-left:100px;
    align-content: center;
  }

  .researchMethods {
    align-content: center;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    background: #eaeff6;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .methodIcon {
    width: 200px;
    padding: 50px;
  }
  
  .method1,
  .method2,
  .method3 {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  
  .methodName {
    text-align: justify;
  }
  
  .methodText {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .aboutGrants, .mb-3 {
    background-color: #eaeff6;
  }

  .definition, .prototype, .styleGuide {
    margin: 0 auto;
    padding-top:25px;
    padding-bottom:25px;
  }

  .prototype.hifi.list-group.list-group-flush {
    padding-bottom:30px;
  }

  .col-md-4.col-sm-12.ideation {
    width:50%;
  }

  .styleGuide {
    background-color: #eaeff6;
  }

  .card.styleGuide {
    background-color:white;
  }

  .footer {
    background-color: #06a893;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  
  .footerText {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .social_media_icons {
    height: 45px;
    padding-left: 20px;
  }
  
  #copyright {
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
  }

  @media only screen and (max-width: 600px) {
    .flexContainer {
      display: flex;
      flex-direction: column;
    }

    .bodyText {
      padding: 0px;
    }

    .definition, .prototype, .styleGuide {
      width:100%;
    }
  }