body {
    font-family: "Archivo", sans-serif;
    font-family: "Roboto", sans-serif;
    color: #4d5b65;
  }
  
  h1 {
    font-family: "Archivo", sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin:20px;
  }
  
  h2 {
    font-family: "Archivo", sans-serif;
    font-size: 45px;
    color: black;
    margin:20px;
  }
  
  h3 {
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    color: black;
    margin:20px;
  }
  
  h4 {
    font-family: "Archivo", sans-serif;
    font-size: 36px;
    color: black;
    margin:20px;
  }
  
  p {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    padding:10px;
  }

  .bodyText {
    padding-left:150px;
    padding-right:150px;
  }
  
  .gradient span {
    background: linear-gradient(
      0deg,
      rgba(255, 0, 255, 0) 0%,
      rgba(255, 0, 255, 0) 16%,
      rgba(6, 168, 147, 1) 16%,
      rgba(6, 168, 147, 1) 41%,
      rgba(255, 0, 255, 0) 41%
    );
  }
  
  .padding span {
    padding: 0 0.5em 0 0.1em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #06a893;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .topnav a {
    color: black;
    padding: 5px;
    float: left;
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #eaeff6;
    color: black;
  }
  
  .topnav a.active {
    background-color: #000000;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .logo {
    width: 75px;
  }
  
  .tabs {
    padding: 5px;
    padding-right: 50px;
    text-decoration: none;
  }
  
  .tabs a,
  h1 {
    color: #000000;
    text-decoration: none;
  }
  
  .tabs:visited {
    color: black;
  }

  a:hover {
    color:#06a893;
    text-decoration: none;
    font-weight: bold;
  }
  
  #home {
    display:none;
  }
  
  #about:hover,
  #work:hover,
  #contact:hover {
    background: linear-gradient(
      0deg,
      rgba(255, 0, 255, 0) 0%,
      rgba(255, 0, 255, 0) 16%,
      rgba(234, 239, 246, 1) 16%,
      rgba(234, 239, 246, 1) 41%,
      rgba(255, 0, 255, 0) 41%
    );
  }

  .jumbotron {
  text-align: center;
  }

  .mb-3 {
    background-color: #eaeff6;
  }


  #aboutgrants {
    width:50%;
    padding:10px;
    margin-left:100px;
    align-content: center;
  }

  .researchMethods {
    align-content: center;
  }
  
  .circle {
    width: 200px;
    height: 200px;
    background: #eaeff6;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }

  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .methodIcon {
    width: 200px;
    padding: 50px;
  }
  
  .method1,
  .method2,
  .method3 {
    margin-left: 0 auto;
    margin-right: 0 auto;
  }
  
  .methodName {
    text-align: justify;
  }
  
  .methodText {
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .subtitle {
    margin:20px;
  }

  .definition {
    margin: auto;
    padding-bottom:50px;
  }

  .style {
    margin:0 auto;
    background-color: #eaeff6;
  }

  .card-img-top .styleGuide {
    background-color: #eaeff6;
    margin-left: 0 auto;
    
  }

  .col-md-4.col-sm-12.ideation {
    width:50%;
  }

  .styleGuide {
    margin: auto;
    padding-bottom:50px;
  }

  .footer {
    background-color: #06a893;
    width: 100%;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
  }
  
  .footerText {
    margin-top: 20px;
    padding-left: 20px;
  }
  
  .social_media_icons {
    height: 45px;
    padding-left: 20px;
  }
  
  #copyright {
    color: #000000;
    text-align: center;
    margin-bottom: 15px;
  }